@{
}
@model Appointment

<h2>Tour Sign Up</h2>
<p>Please fill out your group information. Please include a contact email and phone number for the group.</p>

<form method="post" asp-controller="Home" asp-action="AddAppointment">

    <div class="alert-danger" asp-validation-summary="All"></div>

    <h4>Group Information</h4>

    <div class="form-group">
        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GroupSize">Total Number of Group Members:</label>
        <input asp-for="GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Group Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Confirm Tour" />
    </div>

    <input type="hidden" name="TimeId" value="@ViewBag.TimeId" />

</form>


