@{
    ViewData["Title"] = "Home Page";
}




<a asp-controller="Home" asp-action="Signup"class="btn btn-dark">View Available Time Slots</a>

<a asp-controller="Home" asp-action="Appointments" class="btn btn-dark">View Scheduled Appointments</a>