@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    <div class="col-3 btn-block m-2 p-2 align-content-center">



        <a asp-controller="Home" asp-action="Signup" class="btn btn-dark  m-2 align-content-center btn-block">View Available Time Slots</a>

        <a asp-controller="Home" asp-action="ViewAllAppointments" class="btn btn-dark  m-2 align-content-center btn-block">View Scheduled Appointments</a>

    </div>

    <div class="col-8 m-2 p-10">
        <h1>Temple Tour Scheduler</h1>

        <div >
            <img src="~/Images/layton-utah-temple-6932.jpg" style="width:80%" />
        </div>

        <div class="text-body">
            <h2>
                Why do Latter-Day Saints have temples?
            </h2>

            <p>
                Temples have been around for a long time. Moses had a tabernacle, Solomon built a beautiful temple, and Jesus taught at the temple in Jerusalem. Today, temples are built all over the world. In over 140 temples worldwide, faithful members of The Church of Jesus Christ of Latter-day Saints find opportunities for peaceful reflection and for learning more about God’s plan of happiness. Inside temples, couples can be married for eternity, not just “’til death do you part.” Church members can also perform baptisms and other ordinances for their loved ones who died without receiving these blessings.
            </p>

            <h2>
                The blessings of the temple
            </h2>

            <p>
                Because each temple is the House of the Lord, we can feel a special closeness to God when we visit. This feeling can provide hope when we have challenges and direction when we need guidance in our lives. The temple is also where we can receive the greatest blessings God has to offer us, including the opportunity to live with our families forever, even after we die. We can also honor and serve our deceased loved ones by providing these blessings to them as we act on their behalf.
            </p>
        </div>
    </div>
</div>
