@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <table class="table table-bordered table-hover table-striped">


        <tr>

            <td>
                Time
            </td>

            <td>
                Signup
            </td>
        </tr>



        @foreach (TimeSlot slot in ViewBag.AllTimeSlots)
        {
            <tr class="text-center">

                <td>
                    @slot.AppointmentDateTime
                </td>
                <td>
                    <a asp-controller="Home" asp-action="AddAppointment" class="btn btn-sm btn-primary">Sign Up</a>
                </td>
            </tr>
        }


    </table>
</div>
